__pycache__
venv
.DS_Store
.ipynb_checkpoints

/data

cm/train_samples.pkl
cm/models/*
em1/models/*
em2/models/*
em3/models/*

metrics/originals/*
metrics/samples/cm/*
metrics/samples/egan/*
metrics/samples/segan/*
metrics/samples/cgan/*
metrics/samples_random/egan/*
metrics/samples_random/segan/*
metrics/samples_random/cgan/*
